* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container p{
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 20px;
}

.container span{
    font-size: 12px;
}
.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.cadastro{
    position: relative;
    top: 20px;
    margin: 0px;
    font-size: 12px;
}

.container button{
    background-color: #FAB744;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover{
    background-color: #FAB744;
}

.sign-up button{
    margin-top: 10px;
}

.container button.oculto{
    background-color: transparent;
    border-color: #ccc;
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    font-size: 13px;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}

.form{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up{
    left: 50px;
}
.container.active .sign-up{
    opacity: 1;
    z-index: 5;
    transform: translateX(100%);
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.alternar-container{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}
.container.active .alternar-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;

}
.alternar{
    background-color: #FAB744;
    height: 100%;
    position: relative;
    left: -100%;
    width: 200%;
    color: #fff;
    transform: translateX(0);
    transition: all 0.6ss ease-in-out;
}
.container.active .alternar{
    transform: translateX(50%);
}
.alternar-painel{
    background-color: #FAB744;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .alternar-esquerda{
    transform: translateX(0);
}
.container.active .alternar-direita{
    transform: translateX(200%);
}
.alternar-esquerda{
    transform: translateX(-200%);
}
.alternar-direita{
    right: 0;
    transform: translateX(0);
}
#backLogin {
    position: absolute;
    top: 20px; 
    left: 20px; 
    width: 50px; 
    height: auto;
}
